run = "bash start.sh"
entrypoint = "manage.py"
modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-24_05"

[env]
PYTHONUNBUFFERED = "1"

[deployment]
deploymentTarget = "cloudrun"
build = ["bash", "build.sh"]
run = ["bash", "start.sh"]

[[ports]]
localPort = 8000
externalPort = 80
